.headerContainer {
  display: flex;
  align-items: center;
  height: 150px;
}
.headerContainer li {
  list-style: none;
}
.headerContainer ul {
  display: flex;
  gap: 10px;
}
.toggleButton {
  width: 10%;
  margin: 10%;
  background: rgb(120, 217, 183);
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
}
.toggleButton:hover {
  background-color: rgb(90, 172, 144);
}
